.banner{
  color: white;
  object-fit: contain;
  height: 448px;

}

.banner__contents{
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.banner__title{
  text-align: left;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description{
  width: 40rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width:500px;
  height: 80px;
  text-align: left;
  font-weight: 400;
}

.banner__buttons > button{
  cursor: pointer;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  height: 40px;
}

.banner__button__play{
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.banner__button__play:hover{
  color: #000;
  background-color: #bcbcbc;
  transition: all 0.2s;
}

.banner__button__info{
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}

.banner__button__info:hover{
  color: #fff;
  background-color: rgba(78, 78, 78, 0.5);
  transition: all 0.2s;
}

.banner__fadebutton{
  height: 7.4rem;
  background: linear-gradient(
      180deg,
      transparent,
      rgba(37,37,37,0.61),
      rgb(12,12,12)
  );    
}

@media (max-width: 600px){
  .banner__contents{
    margin-left: 30px;
    padding-top: 60px;
    height: 190px;
  }
  .banner__description{
    width: 40rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    max-width:340px;
    height: 80px;
    text-align: left;
    font-weight: 400;
  }
  .banner__title{
    text-align: left;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    max-height: 170px;
  }

  .banner__buttons{
    padding-top: 55px;
  }
  .banner__fadebutton{
    height: 12.4rem;
  }
}